body {
    margin:0;
    background-color: #F5F7F8;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "main  "
        "footer";
}
header {
    position:fixed;
    top: 0;
    width: 100%;
    grid-area: header;
}
#head {
    background-color: #FCDE70;
    display: flex;
    
    margin:0;
    font-family: 'Junge';
    color: 45474B;
    font-size: x-large;
    align-items: center;
    height: 9rem;
}

#logo {
    height: 10rem;
    position: relative;
    margin: 0.1rem;
    z-index: 2;
  }
#circle {
    height: 8rem;
    width: 8rem;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    margin:1rem;
}
#nav {
    background-color: #E8B86D;
    margin: 0;
    display: flex;
    
}
a.pages {       
    display: block;
    position: relative;
    padding: 0.2em 0;
    color: #F5F7F8;
    text-decoration: none;
    margin-left: 3em;
    margin-top:0.5em;
    margin-right: 3em;
    margin-bottom: 0.5em;
    font-family: "Galindo";
}

a.pages::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15em;
    background-color: rgb(31, 27, 27);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
a.pages:hover::after,
a.pages:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.15em, 0);
}
#sectionBtn {
    display: flex;
    justify-content: end;
    width: 70%;
}
#btnDeco {
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    border-style:hidden;
}
#btnDeco:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    grid-area: main;
    font-family: 'Junge';
    font-weight: bold;
}

footer {
    background-color: #45474B;
    display: flex;
    flex-direction: row;
    height: 15rem;
    justify-content: space-around;
    align-items: center;
    grid-area: footer;
}

footer p a {
    color: #F5F7F8;
    font-family: "Galindo";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}

footer img {
    height: 10rem;
}